html{
	scroll-behavior: smooth;
}
.header{
	background-color:#11cac4 ;
	padding-bottom: 20px;
  width: 100%;
	
}

.welcome{
	display: none;
}
.upperbar{
	margin: 0 auto;
	background-color: #2b7a78;
	height: 2px;
	width: 60%;
	border-radius: 2px;
}

.navbar{
	background-color:#11cac4 ;
}


html{
	scroll-behavior: smooth;
}
.hamburger{
	background-color: transparent;
	color: white;
	border: 0;
}



.back{
	
	
	border-radius: 8px;
	box-shadow: 0px 2px  #686868;
	background-color: white;

}

.logo
{
 height: 50px;
 width: 50px;
 
margin-top: 6px;
margin-bottom: 6px;

}
.hamburger{
	color: white;
}
.aboutbox{
	padding-top: -50px;
	margin-top: 250px;
    
}
.nav{
display: flex;
justify-content: space-between;
padding-top: 10px;
}

ul
{
flex-flow: row;
display: flex;list-style-type: none;
}
ul li{
	padding: 12px;
}
.nav-link
{
	font-family: 'MuseoModerno', cursive;
	font-size:16px;
    font-weight: 600;
	letter-spacing: 0.2rem;
	color:  #17252a   ;
  padding: 5px 12px;
  list-style-type: none;
	margin-top: 6px;
	
}
.nav-link:hover
{
	text-decoration: none;
	color:white;
	transform: scale(1.1);
}

.banner-title
{
	padding-top: 150px;
	letter-spacing: 4px;
	padding-left: 10px;
}
.title
{
	font-family: 'Righteous', cursive;
	font-size: 70px;
	color: #17252a;
}
.section h2.section-head
{
font-family: 'Jura', sans-serif;
	color: white;
	font-weight: 100;

}
.item{
	text-align: right;
}

.service-box
{
text-align: center;
color: #686868;
}

.service-box i.fab
{
font-size: 80px;
}


#1st{
	margin-top: -20px;
}

.level{
	height: 150px;
	width: 120px;
	transform: rotate(90deg);

}
.element{
color: white;
font-size: 35px;
z-index: -1;
}

.myphoto img
{
	height: 510px;
	width: 650px;
	margin-top: 120px;
	margin-bottom: 200px;
	
}

.size{
	font-size: 30px;
	color: #17252a;
}

#bg{

background-color: #11cac4;
z-index: 1;
clip-path: polygon(100% 0, 100% 75%, 50% 100%, 0 75%, 0 0);
}
.aboutme{
color: #11cac4;
margin-bottom: 240px;
font-size: 20px;
padding-top: 11px;
border-radius: 12px;
}
.g{
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	/* font-weight: bold; */
	font-weight: 550;
}
.below{

	color: #17252a;
}
.scrolltop{
	background-color: black;
}
.about{
font-size: 80px;

font-family: 'Archivo Black', sans-serif;
line-height: 75px;


}
.hii{
	font-family: 'Rajdhani', sans-serif;
	font-size: 20px;
	line-height: 40px;
	
	margin-bottom: 32px;
	
}
.highlight{
	color:rgb(38, 143, 129);
	font-weight:bolder;
	font-size: 25px;
}
.gallerydiv img{
	
	height: 230px;
	width: 230px;
	transition-duration: .8s;
	opacity: 0.8;
	margin: 50px 0px;
	
	
}
.gallerydiv img:hover{
	transform: scale(1.3);
	opacity: 1;
}

#skillbg{
	
	background-color:#11cac4;
	padding-top: 55px;
	padding-bottom:75px;
	color: white;
clip-path: polygon(50% 0%, 100% 21%, 100% 100%, 0 100%, 0 21%);
}
.skill
{
	color: #17252a;
	font-size: 60px;
	font-family: 'Play', sans-serif;
	letter-spacing: 5px;
	font-weight: bolder;

}

.viewgall{
	text-align: center;
	
	font-size: 130px;
	font-family: 'Righteous', cursive;
	
	cursor: pointer;
	width: 100%;
	margin: 30px 2px;

}

.gallerybg{
	background-color:  #11cac4;
	/* background-color:#11cac4; */
	

	

}
.he{
	height: 100vh;
	background-color: red;
}
.but{
	padding: 20px 0px;
 
	background-color: #27cfc7;
	width: 100%;

}
.but button{
	padding: 12px;
	border-style: none;
	background-color: #27cfc7;
	font-family:sans-serif;
	border-radius: 3px;
	font-weight:500;
}
.but button:hover{
	background-color: #17252a;
	color: white;
	transform: scale(1.1);
}

.type{
	padding: 20px;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}
.outer
{
	height: 10px;
	background-color: #17252a;
	margin-bottom: 50px;
	border-radius: 3px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	
}
.ski{
	letter-spacing: 3px;
}

#intern
{
background-color:#11cac4;
padding: 30px;
box-shadow: 2px 2px 3px white;
}


.sectitle
{
	font-family: 'Play', sans-serif;
	font-size: 60px;
	
	letter-spacing: 3PX;
	color: #17252a;
	padding: 30px 0px;


}
.section{
	color: white;
	padding-bottom: 60px;
}
.foot{
	background-color:#11cac4;
	padding: 30px 0px;
}

.section .internship:hover{
	box-shadow: 1px 1px 1px white;
	color: white;
	padding: 100px 10px;
	border-radius: 12px;
	margin-bottom: 30px;
	margin: 30px 10px;
	font-family: 'Kanit', sans-serif;
	background-color: #11cac4;
	line-height: 10px;
	transform: scale(1.1);
	
}
.section .internship{
	box-shadow: 1px 1px 2px white;
	color: #17252a;
	padding: 100px 10px;
	border-radius: 12px;
	margin-bottom: 30px;
	margin: 30px 10px;
	background-color: white;
	font-family: 'Kanit', sans-serif;
	line-height: 10px;
	transition-duration: .8s;
}

.section .internship a{
	color: white;
	text-decoration: none;
	font-size: 20px;
}

.cer{

	
	border-radius: 4px;
padding-top: 8px;
padding-bottom: 4px;
padding-left: 3px;
padding-right: 3px;
	font-size: 8px;
}


.font{
	font-size: 22px;
}


.footer{
	padding: 80px;
	font-size: 65px;
}
.contact{
	font-size: 60px;
	margin-top: 30px;
	font-family: 'Jura', sans-serif;
}
.copyright{
	text-align: center;
	background-color:#083742  ;
	padding: 30px;
	color: grey;
}

.footer .col-md-2 a{
	
padding: 20px 30px;
border-radius:60px;
 color: #17252a;

}

.footer .col-md-2 a:hover{

color: white;
}
.center{
	text-align: center;
	font-size: 60px;
	font-family: 'Play', sans-serif;
	color:#17252a ;
}

.inner1
{
	background-color: white ;
	height: 10px;
	
	width: 260px;
	border-radius: 3px;
	
}
.inner2
{
	background-color: white ;
	height: 10px;
	
	width: 210px;
	border-radius: 3px;

	
}
.inner3
{
	background-color: white ;
	height: 10px;
	
	width: 110px;
	border-radius: 3px;
	
}
.inner4
{
	background-color: white ;
	height: 10px;
	
	width: 150px;
	border-radius: 3px;
	
}
.inner5
{
	background-color: white ;
	height: 10px;
	
	width: 240px;
	border-radius: 3px;
	
}
.inner6
{
	background-color: white ;
	height: 10px;
	
	width: 170px;
	border-radius: 3px;
	
}
.inner7
{
	background-color: white ;
	height: 10px;
	
	width: 200px;
	border-radius: 3px;
	
}
.inner8
{
	background-color: white ;
	height: 10px;
	
	width: 260px;
	border-radius: 3px;
	
}

.resume{
text-align: center;
margin-top: 50px;
font-size: 40px;

}
.resume a{

	list-style: none;
	text-decoration: none;
	color: orange;
	border-radius: 20px;
	padding: 10px;
}
.resume a:hover
{
text-decoration: none;
list-style-type: none;
}

.hamburger{
	display: none;
}


.secondmenu{
	display: none;
}










@media (max-width: 768px)
{
	#bg{
		padding-bottom: 165px;
		padding-top: 50px;
	}

.fa-bars{
	font-size: 30px;
}
.hamburger{
	display: block;
	font-size: 30px;
	padding-top: 12px;
}


ul{

	display: none;
	
}
.secondmenu{
	display: block;
	list-style-type: none;
	text-align: center;
	

}
.aboutbox{
	padding-top: -100px;
	margin-top: -100px;
    
}

.welcome{
	display: block;
	padding-top: 70px;
	padding-bottom: 100px;
	text-align: center;
}
.section1box{
	margin-bottom: -50px;
	
}
.secondmenu .nav-link:hover{
color: #17252a;
}
.nav-link{
	padding: 10px;
	margin-top: 20px;
	font-family: 'Kanit', sans-serif;
	font-size:20px;
}
.viewgall{
	font-size: 50px;
}
.header{
	background-color: #11cac4;
	margin-bottom: -10px;
}

	.but{
		color: white;
padding-right: 2px;
	}
.links{
	display: block;
}


#mynav{
	background-color:#11cac4 ;
}

	.nav-link
{
	text-decoration: none;
	color:white;
	padding-bottom: 3px;

}
	.nav-link:hover
{
	text-decoration: none;
	color:white;
	
}
.nav{
	margin-bottom: 20px;
}
.link{

margin-top: 12px;
flex-direction: column;

}
.bg{
	margin-top: 20px;
}

	.logo
{
 margin: 2px 1px;
	height: 50px;
	width: 50px;
	margin-bottom: 2px;
}

.myphoto img{
	height: 200px;
	width: 280px;
	margin-top: -400px;
	margin-left: 80px;
	padding-right: 20px;
}

	.title{
		font-size: 30px;
	
	}

	.banner-title
{
margin-bottom: 12px;
margin-top:-20px;
margin-left: 5px;



}
.skill
{
	font-family: 'Play', sans-serif;
	font-size: 50px;

	letter-spacing: 3PX;
}

.element{
	font-size: 22px;
}
.size{
	font-size: 22px;
}
.aboutme{
	color: #11cac4;

margin-top: 200px;

font-size: 20px;
padding-top: 10px;

border-radius: 12px;
text-align: center;

}
#skillbg{
	background-color: #11cac4;
	padding-top: 95px;
	padding-bottom:35px;
	color: white;
clip-path: polygon(50% 0%, 100% 17%, 100% 100%, 0 100%, 0 17%);}

 .sectitle
{
	font-family: 'Play', sans-serif;
	font-size: 50px;
	
	letter-spacing: 3PX;
	color: #17252a;

}

.section .internship{
background-color:white ;
	color:#17252a;
	padding: 120px 2px;
	border-radius: 12px;
	margin-bottom: 30px;
	box-shadow: 1px 1px 1px white;
   transition-duration: .8s;
}
.section .internship:hover{
	box-shadow: 1px 1px 1px white;
	color: white ;
	padding: 100px 10px;
	border-radius: 12px;
	margin-bottom: 30px;
	margin: 30px 10px;
	font-family: 'Kanit', sans-serif;
	background-color: #11cac4;
	
	transform: scale(1.2);
	
}


.footer .col-md-2 a{

padding: 4px 12px;
border-radius: 20px;
 color: #083742;
border: none;
 margin-top: 10px;
}

.footer .col-md-2 a:hover{

color: white;
}

.footer{
	margin-top: 20px;
	padding: 40px;
	font-size: 55px;
}
.footer .col-md-2{
	margin: 20px;
}
.scroll{
	text-align: center;
	color: white;
	margin-top: -160px;
	margin-bottom: 200px;
}
.about{
	font-size: 70px;
	margin: 0;
	font-family: 'Archivo Black', sans-serif;
	line-height: 58px;
	padding-bottom: 40px;
	}
}



@media (max-width: 1100px){
	
	.banner-title
{
	padding-top: 90px;
	letter-spacing: 4px;
	padding-bottom: 430px;
}

.about{
font-size: 60px;

font-family: 'Archivo Black', sans-serif;
line-height: 58px;
}


.outer{
	height: 10px;
	background-color: #17252a;
	margin-bottom: 50px;
	border-radius: 3px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}
.inner1
{
	background-color: white ;
	height: 10px;
	
	width: 160px;
	border-radius: 3px;
	
}
.inner2
{
	background-color: white ;
	height: 10px;
	
	width: 160px;
	border-radius: 3px;

	
}
.inner3
{
	background-color: white ;
	height: 10px;
	
	width: 110px;
	border-radius: 3px;
	
}
.inner4
{
	background-color: white ;
	height: 10px;
	
	width: 130px;
	border-radius: 3px;
	
}
.inner5
{
	background-color: white ;
	height: 10px;
	
	width: 140px;
	border-radius: 3px;
	
}
.inner6
{
	background-color: white ;
	height: 10px;
	
	width: 120px;
	border-radius: 3px;
	
}
.inner7
{
	background-color: white ;
	height: 10px;
	
	width: 160px;
	border-radius: 3px;
	
}
.inner8
{
	background-color: white ;
	height: 10px;
	
	width: 160px;
	border-radius: 3px;
	
}
.section .internship:hover{
	box-shadow: 1px 1px 1px white;
	color: white;
	padding: 80px 10px;
	border-radius: 12px;
	margin-bottom: 30px;
	margin: 30px 10px;
	font-family: 'Kanit', sans-serif;
	background-color: #11cac4;
	line-height: 10px;
	transform: scale(1.1);
	
}
.section .internship{
	box-shadow: 1px 1px 2px white;
	color: #17252a;
	padding: 80px 10px;
	border-radius: 12px;
	margin-bottom: 30px;
	margin: 30px 10px;
	background-color: white;
	font-family: 'Kanit', sans-serif;
	line-height: 10px;
	transition-duration: .8s;
	font-size: 10px;
}

.section .internship a{
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.internship h4{
	font-size: 15px;
}
.internship h5{
	font-size: 10.2px;
}
.internship h1{
	font-size: 30px;
}

}


